<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <system.webServer>
    <httpErrors errorMode="Detailed" />
        <handlers>
            <remove name="PHP 8.0" />
            <add name="PHP 8" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\PHP8\php-cgi.exe" resourceType="File" requireAccess="Execute" />
        </handlers>
 </system.webServer>
</configuration>
