.news_title {
    font-family:        var(--standard-font);
    font-size:          3vmin;
    font-weight:        600;
    line-height:        3.25vmin;
    color:              #fff;
    margin-bottom:      7.5px;
    cursor:             pointer;
}

.news_teaser {
    font-family:        var(--standard-font);
    font-size:          3vmin;
    line-height:        3.25vmin;
    font-weight:        200;
    color:              var(--mainX-white-opaque);
    margin-bottom:      20px;
}

.news_container {
    position: absolute;

    top: 50px;
    left: 30px;
    width: calc(100% - 50px);
    height: calc(100% - 70px);
    overflow-y: scroll;
}

.news_seperator {

    color: #fff;
    font-size: 40px;
    line-height: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.news_box {
    position: fixed;
    border: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 950;
}

.news_content {
    position: fixed;
    border: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    
    z-index: 1000;
}